---
layout: 0site
title: ELM0 -- Errors, Logging, Malloc and Testing in about 1000 lines of C.
examples: [errors, logging, malloc, 0unit]
---

<style>
.highlight {
        width:60ex;
        float:left;
        margin-right:1ex;
        margin-bottom:1ex;
}
</style>

{% for ex in examples %}
        <p> {{ex}}
{% endfor %}

abcd efg

<p>Mea Culpa.</p>
{% highlight c %}
{% include errors.c %}
{% endhighlight %}

{% highlight c %}
{% include 0unit.c %}
{% endhighlight %}

{% highlight c %}
{% include logging.c %}
{% endhighlight %}

{% highlight c %}
{% include malloc.c %}
{% endhighlight %}


</section>

</div>


